<mat-toolbar color="primary">
  <a mat-button routerLink="/">Paxa</a>
  <a mat-button routerLink="/dashboard">Dashboard</a>
  <a mat-button routerLink="/facility">Facility</a>
  <a mat-button routerLink="/settings">Settings</a>
  <span class="flex-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
