<app-table [headers]="headers">
  <tr *ngFor="let organization of organizations$ | async">
    <td class="px-4 py-2">
      <a
        class="text-brand-black no-underline"
        [routerLink]="['/', 'organization', organization.id]">
        {{organization.name}}
      </a>
    </td>
    <td>
      <button [routerLink]="['/', 'organization', organization.id, 'edit']">
        Edit
      </button>
      <button [routerLink]="['/', 'organization', organization.id, 'remove']">
        Delete
      </button>
    </td>
  </tr>
</app-table>
