
<nz-modal
  *ngIf="organization$ | async as organization"
  [nzVisible]="true"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="onCancel()">
  <ng-template #modalTitle>
    Remove {{organization?.name}}
  </ng-template>

  <ng-template #modalContent>
    <p>
      You are about to remove {{organization?.name}}.
      Are you sure you want to continue?
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="onCancel()">
      Cancel
    </button>
    <button nz-button nzType="primary" nzDanger [nzLoading]="isSubmitting$ | async" [disabled]="isSubmitting$ | async" (click)="onDelete()">
      Remove
    </button>
  </ng-template>
</nz-modal>
