<ng-container *ngIf="organization$ | async as organization">

  <div class="d-flex mb-3">
    <button kendoButton look="flat" [primary]="true" [routerLink]="['/', 'organization']" [queryParamsHandling]="'merge'">
      <fa-icon [icon]="iconFaChevronLeft"></fa-icon> Back
    </button>
    <h3 class="mb-0 ml-3">{{ organization?.name }}</h3>
  </div>

  <p>{{ organization?.description }}</p>

  <app-resource-list [organizationId]="organizationId"></app-resource-list>
</ng-container>

<router-outlet></router-outlet>
