<nz-table #entryTable [nzData]="schemaEntries.value">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th class="text-end">
        <button type="button" nz-button nzSize="small" nzType="primary" (click)="onAddEntry()"><i nz-icon nzType="plus"></i></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entryForm of schemaEntries.controls; let i = index">
      <tr [formGroup]="entryForm">
        <td>
          <input formControlName="startHour" />
          <input formControlName="startMinute" />
        </td>
        <td>
          <input formControlName="endHour" />
          <input formControlName="endMinute" />
        </td>
        <td class="text-end">
          <button type="button" nz-button nzSize="small" nzType="primary" nzDanger (click)="onDeleteEntry(i)"><i nz-icon nzType="delete"></i></button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
