:host {
  position: sticky;
  display: block;
  margin-bottom: 1rem;
  top: 0;
  z-index: 1;
}

.title {
  font-size: 1.25em;
  margin: 0;
}

kendo-badge-container {
  margin-right: 8px;
}

ul {
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 .5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover,
li a.active {
  cursor: pointer;
  color: #fec000;
}

.actions .k-button {
  padding: 0;
}
