<kendo-appbar [themeColor]="'dark'">
  <kendo-appbar-section>
    <button class="k-button k-button-clear">
      <kendo-icon name="menu"></kendo-icon>
    </button>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <h1 class="title">Paxa</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <ul>
      <ng-template #notLoggedIn>
        <li>
          <a
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
            Landing
          </a>
        </li>
        <li>
          <a [routerLink]="['/', 'get-started']" [routerLinkActive]="['active']">Get started</a>
        </li>
      </ng-template>
      <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
        <li>
          <a [routerLink]="['/', 'organization']" [routerLinkActive]="['active']">Organization</a>
        </li>
        <li>
          <a [routerLink]="['/', 'resource']" [routerLinkActive]="['active']">Resource</a>
        </li>
        <li>
          <a [routerLink]="['/', 'user']" [routerLinkActive]="['active']">User</a>
        </li>
        <li>
          <a [routerLink]="['/', 'timeslot']" [routerLinkActive]="['active']">Timeslot</a>
        </li>
        <li>
          <a [routerLink]="['/', 'booking']" [routerLinkActive]="['active']">Booking</a>
        </li>
        <li>
          <a [routerLink]="['/', 'person']" [routerLinkActive]="['active']">Person</a>
        </li>
        <li>
          <a [routerLink]="['/', 'logout']" [routerLinkActive]="['active']">Logout</a>
        </li>
      </ng-container>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <kendo-badge-container>
      <button class="k-button k-button-clear">
        <kendo-icon name="bell"></kendo-icon>
      </button>
      <kendo-badge
        shape="dot"
        themeColor="warning"
        size="small"
        position="inside"
      ></kendo-badge>
    </kendo-badge-container>
    <span class="k-appbar-separator"></span>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <kendo-avatar
      [imageSrc]="kendokaAvatar"
      shape="circle"
      width="26px"
      height="26px"
    ></kendo-avatar>
  </kendo-appbar-section>

</kendo-appbar>

<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate">
</mat-progress-bar>
