<form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f)">

  <kendo-formfield class="d-block mb-3" showHints="initial" showErrors="initial">
    <kendo-label [for]="name">Name</kendo-label>
    <kendo-textbox class="w-100" #name formControlName="name"></kendo-textbox>
    <kendo-formhint>Ex. Cool Padel</kendo-formhint>
    <kendo-formerror *ngIf="form?.get('name').errors?.required">Name is required</kendo-formerror>
    <kendo-formerror *ngIf="form?.get('name').errors?.minlength">Name too short</kendo-formerror>
  </kendo-formfield>

  <kendo-formfield class="d-block mb-3" showHints="initial" showErrors="initial">
    <kendo-label [for]="description">Description</kendo-label>
    <kendo-textbox class="w-100" #description formControlName="description"></kendo-textbox>
    <kendo-formhint>Ex. We have the coolest courses</kendo-formhint>
  </kendo-formfield>

  <div class="d-flex justify-content-end">
    <button class="mr-2" kendoButton type="button" (click)="onCancel()">Cancel</button>
    <button kendoButton [primary]="true" type="submit">Update</button>
  </div>
</form>
