<form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f)">

  <app-page-header
    title="Create Resource"
    subtitle="subtitle"
    (goBack)="onCancel()">
  </app-page-header>

  <div>
    <label class="block w-full" for="organizationId">Organization</label>
    <div class="mb-3">
      <select
        formControlName="organizationId"
        class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        <option
          *ngFor="let organization of organizations$ | async"
          [value]="organization.id">{{organization.name}}</option>
      </select>
    </div>
  </div>

  <div>
    <label class="block w-full" for="name">Name</label>
    <input class="block w-full" id="name" type="text" formControlName="name" placeholder="Ex. Cool Padel" />
    <ng-container *ngIf="form.controls['name'] as c">
      <div *ngIf="c.dirty && c.hasError('required')" class="mt-1 text-red-500">* Name is required</div>
      <div *ngIf="c.hasError('minlength')" class="mt-1 text-red-500">* Name too short</div>
    </ng-container>
  </div>

  <div>
    <label class="block w-full" for="typeId">Type</label>
    <div class="mb-3">
      <select
        formControlName="typeId"
        class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        aria-label="Default select example">
        <option
        *ngFor="let type of resourceTypes$ | async"
          [value]="type.id">{{type.name}}</option>
      </select>
    </div>
  </div>

  <div class="flex justify-end mt-4">
    <button
      type="button"
      class="inline-block mr-2 px-5 py-2.5 rounded-sm bg-zinc-100 hover:bg-zinc-200 ease-in transition-colors text-sm"
      (click)="onCancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="inline-block px-5 py-2.5 rounded-sm bg-primary-500 hover:bg-primary-300 ease-in transition-colors text-white text-sm">
      Create
    </button>
  </div>
</form>
