<form nz-form nzLayout="vertical" #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f)">

  <nz-page-header nzBackIcon (nzBack)="onCancel()">
    <nz-page-header-title>Edit Resource Schema</nz-page-header-title>
    <nz-page-header-subtitle>Resource is the second highest hierarchy item</nz-page-header-subtitle>
  </nz-page-header>

  <div class="d-flex justify-content-end">
    <button type="button" class="mr-2" nz-button nzType="default" (click)="onCancel()">Cancel</button>
    <button type="submit" nz-button nzType="primary">Update</button>
  </div>
</form>
