<nz-table #schemasTable [nzData]="schemas$ | async">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of schemasTable.data">
      <td>
        <fa-icon
          [icon]="faCircle"
          [class]="dataItem?.active ? 'text-green-500' : 'text-red-500'"></fa-icon>
      </td>
      <td>
        <a [routerLink]="['/', 'schemas', dataItem.id]">{{dataItem.name}}</a>
      </td>
      <td>
        <button nz-button nzType="text" [routerLink]="['/', 'schemas', dataItem.id, 'edit']">
          Edit
        </button>
        <button nz-button nzType="text" nzDanger [routerLink]="getUrl(dataItem.id, 'remove')">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
