<ng-container *ngIf="schema$ | async as schema">
  <nz-page-header nzBackIcon (nzBack)="onGoBack()">
    <nz-page-header-title>{{schema?.name}}</nz-page-header-title>
    <nz-page-header-subtitle>{{schema?.description}}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button [routerLink]="['/', 'schemas', schema.id, 'edit']">
        Edit Schema
      </button>
    </nz-page-header-extra>
  </nz-page-header>
</ng-container>

<button
  class="inline-block px-2 py-1 rounded-sm bg-zinc-50 hover:bg-zinc-100 ease-in transition-colors text-sm"
  (click)="onExecuteSchema()">
  Generate timeslots
</button>
<app-tab-strip
  [tabs]="entryTabs"
  [active]="selectedWeekday$ | async"
  (select)="onSelectTab($event)">
</app-tab-strip>

<app-table [headers]="entryHeaders">
  <tr *ngFor="let schemaEntry of schemaEntries$ | async" class="border-b border-zinc-100 hover:bg-zinc-50">
  <td class="px-4 py-2 text-sm">
    {{schemaEntry?.startHour}}:{{schemaEntry.startMinute}}:{{schemaEntry.startSecond}}
  </td>
  <td class="px-4 py-2 text-sm">
    {{schemaEntry?.endHour}}:{{schemaEntry.endMinute}}:{{schemaEntry.endSecond}}
  </td>
  </tr>
</app-table>
