
<div class="mb-3">
  <button kendoButton [routerLink]="['/', 'organization', 'create']">
    <fa-icon [icon]="iconFaPlus"></fa-icon> Create organization
  </button>
</div>

<kendo-grid [data]="organizations$ | async">
  <kendo-grid-column field="name" title="Name">
    <ng-template kendoGridCellTemplate let-dataItem>
      <a [routerLink]="['/', 'organization', dataItem.id]">{{dataItem.name}}</a>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="171">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton look="flat" [routerLink]="['/', 'organization', dataItem.id, 'edit']">
        <fa-icon [icon]="iconFaEdit"></fa-icon> Edit
      </button>
      <button kendoButton look="flat" [routerLink]="['/', 'organization', dataItem.id, 'remove']">
        <fa-icon [icon]="iconFaTrashAlt"></fa-icon> Remove
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<router-outlet></router-outlet>
