
<div class="mb-3">
  <button nz-button nzType="primary" [routerLink]="['/', 'organization', 'create']">
    Create organization
  </button>
</div>

<nz-table #organizationsTable [nzData]="organizations$ | async">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of organizationsTable.data">
      <td>
        <a [routerLink]="['/', 'organization', dataItem.id]">{{dataItem.name}}</a>
      </td>
      <td>
        <button nz-button nzType="text" [routerLink]="['/', 'organization', dataItem.id, 'edit']">
          Edit
        </button>
        <button nz-button nzType="text" nzDanger [routerLink]="['/', 'organization', dataItem.id, 'remove']">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<router-outlet></router-outlet>
