<ng-container *ngIf="resource$ | async as resource">
  <app-page-header
    [title]="resource?.name"
    [subtitle]="resource?.description"
    (goBack)="onGoBack()">
    <button
      class="inline-block px-2 py-1 rounded-sm bg-zinc-50 hover:bg-zinc-100 ease-in transition-colors text-zinc-700 text-sm"
      [routerLink]="['/', 'resource', resource.id, 'edit']">
      Edit Resource
    </button>
  </app-page-header>

  <app-timeslot-list
    [resourceId]="resource?.id">
  </app-timeslot-list>

</ng-container>

<router-outlet></router-outlet>
